body{
    background-color: #666;
    max-width:auto;
    min-width: 1000px;
}
.page {
    margin: auto;
    background: white url(/images/gradient-background.png) repeat-x;
    max-width: 1160px;
    min-width: 1160px;
}